META.yml
MYMETA.*
Makefile
Makefile.old
MessagePack.bs
MessagePack.o
MessagePack.c
blib/
inc/
*.o
pm_to_blib
MANIFEST
ppport.h
.testenv/
xshelper.h
*.swp
*~
*.bak
/Data-MessagePack-*
/Build
/Build.bat
/_build/
/lib/Data/MessagePack.xs
